#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculator {
  width: 300px;
  border: 2px solid gray;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.display {
  color: black;
  height: 64px;
  background-color: #666874;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 6px 12px;
  font-size: 32px;
}

.numpad {
  display: grid;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
  background-color: gray;
  border-radius: 0px;
  font-size: 18px;
  border: 1px solid black;
}

.btn:hover {
  background-color: #a6a6a6;
}

.zero-button {
  grid-column: span 2;
}

.arithmetic-button {
  background-color: rgb(255, 163, 51);
}

.arithmetic-button:hover {
  background-color: rgb(255, 204, 102);
}